@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Palette+Mosaic&family=Quicksand:wght@300&display=swap');

/*Cor do site*/
body{
	background-color: #778899;
	
}


div#interface{
	width: 950px ;
	position: relative;
	background-color: #525050;
	margin: 10px auto 0px auto;
	box-shadow: 0px 0px 10px black;
	padding: 10px;
}



/*Editando a semantica */


section#corpo{
	display: block; /*O documento so pode flutuar se for definido como um bloco*/
	width: 600px; 
	float: left; /*Foi definido para flutuar para o lado esquerto*/
	border-right:1px solid;
	padding-right: 15px;
	color: rgb(255, 255, 255);
	
}
section#corpo {
	font-family: 'Palette Mosaic', cursive; /*Fonte para os titulos*/
	font-family: 'Quicksand', sans-serif;
}

aside#lateral{
	font-family: 'Palette Mosaic', cursive; /*Fonte para os titulos*/
	font-family: 'Quicksand', sans-serif;
	display: block; 
	width: 280px;
	float: right; /*Foi definido para flutuar para o lado direito*/
	color: rgb(255, 255, 255);
}


section#corpo a{
	color: #ffff;
}


/*CRIAÇÃO DO RODAPE*/

footer#rodape{
	clear: both; /*Para poder limpar as configurações*/
	border-top: 1px solid ;
	color: white;
}

footer#rodape p{
	text-align: center;
	font-family: 'Indie Flower', cursive;
}

footer#rodape a{
	color: white;
  font-family: 'Indie Flower', cursive;
}

div#objetivo{
	background-color: #D3D3D3;
	color: black;
	font-family: Arial, Helvetica, sans-serif;
	border-radius: 3%;
	padding: 2px;
}

/*MENU*/
#nav
ul {
  margin: 0px;
  padding: 0px;

}

a {
  color: black;
  text-decoration: none;
  font-family: sans-serif;
  transition: background 1s;
}

a:hover {
  background: #525050;
}

#logo {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'Indie Flower', cursive;
  color: #fff;
}

#header {
  box-sizing: border-box;
  height: 70px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #778899;
  box-shadow: 0px 0px 10px black;
  border-radius: 5%;
}

#menu {
  display: flex;
  list-style: none;
  gap: 0.5rem;
}

#menu a {
  display: block;
  padding: 0.5rem;
  color: #fff;
}

#btn-mobile {
  display: none;
}


/* RESPONSIVIDADE DO MENU*/
@media (max-width: 600px) {
  #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 70px;
    right: 0px;
    background: #e7e7e7;
    transition: 0.6s;
    z-index: 1000;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
  }
  #nav.active #menu {
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: auto;
  }
  #menu a {
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
  }
  #btn-mobile {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
  }
  #hamburger {
    border-top: 2px solid;
    width: 20px;
  }
  #hamburger::after,
  #hamburger::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }
  #nav.active #hamburger {
    border-top-color: transparent;
  }
  #nav.active #hamburger::before {
    transform: rotate(135deg);
  }
  #nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }
}

/*FORMATAÇÃO DO BOTAO TOPO*/
#link-topo{
	text-decoration: none;
	color: gray;
	padding: 6px;
	background-color: black;
	position: fixed;
	right: 10px;
	bottom: 10px;
	box-shadow: 3px 3px 10px black;
}