/*Cor do site*/
body{
	background-image: url("imagens/RLQNm.jpg");
}

header#cabeca{
	background: rgba(255, 255, 255, 0.1);/*Efeito de vidro embaçado*/
	backdrop-filter: blur(10px);/*Efeito de vidro embaçado*/
	-webkit-backdrop-filter: blur(10px);/*Efeito de vidro embaçado*/

	border-bottom: 1px solid; /*Definido a linha na parte de baixo do header separando o menu dos outros conteúdos*/
}

/*Editando a semantica */


section#corpo{
	display: block; /*O documento so pode flutuar se for definido como um bloco*/
	width: 600px; 
	float: left; /*Foi definido para flutuar para o lado esquerto*/
	border-right:1px solid;
	padding-right: 15px;
	color: rgb(255, 255, 255);
	
}


aside#lateral{
	display: block; 
	width: 480px;
	float: right; /*Foi definido para flutuar para o lado direito*/
	color: rgb(255, 255, 255);
}



/*CRIAÇÃO DO RODAPE*/

footer#rodape{
	clear: both; /*Para poder limpar as configurações*/
	border-top: 1px solid ;
	color: white;
}

footer#rodape p{
	text-align: center;
}


/*Formatação menu principal*/

nav#menu{
	display: block; /*Flutuar poder ser manipulado (um bloco pode flutuar pela tela)*/
	
}

nav#menu ul{
	list-style: none; /*Sumir marcadores*/
	text-transform: uppercase;/*Deixar as letras maiusculas*/
	position: absolute;
	top: -7px ;  /*Essa margem de -20px é para o menu ficar bem la em cima*/
	left: 350px;
	
}

nav#menu li{
	display: inline-block;
	background-color: #0ea4df;
	padding: 7px; /*Serve para criar um espaço dentro do objeto*/
	margin: 2px; /*Serve para criar um espaço fora do objeto*/
	transition: background-color 1s; /*Tempo de transição*/
}

nav#menu a{
	text-decoration: none; /*Retirar o sublinhado do link*/
	color: black;
}

/*Usamos o :hover para efeitos de transição*/
nav#menu li:hover{ 
	/*background-color: blueviolet;*/ /*Cor da tansição*/

	background: rgba(255, 255, 255, 0.1);/*Efeito de vidro embaçado*/
	backdrop-filter: blur(10px);/*Efeito de vidro embaçado*/
	-webkit-backdrop-filter: blur(10px);/*Efeito de vidro embaçado*/
}

nav#menu a:hover{
	color: aliceblue;
}

nav#menu h1{
	color: #0ea4df;
	transition: color 1s;
}
nav#menu h1:hover{
	color: blueviolet;
}