@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Palette+Mosaic&family=Quicksand:wght@300&display=swap');

/*Cor do site*/
body{
	/*background-color: #857dbb;*/
	background-image: url("imagens/GettyImages-1086740226-5c2d625a4cedfd00016ed36c.jpg");
}
div#interfaca{
	width: 950px ;
	position: relative;
	background-color: #483D8B;
	margin: 2px auto 0px auto;
	box-shadow: 0px 0px 10px black;
	padding: 10px;
}

header#cabeca{
	background: rgba(255, 255, 255, 0.1);/*Efeito de vidro embaçado*/
	backdrop-filter: blur(10px);/*Efeito de vidro embaçado*/
	-webkit-backdrop-filter: blur(10px);/*Efeito de vidro embaçado*/
	margin-left:137px;
	margin-right:137px;
	margin-bottom: 20px;
	margin-top: -10px;
	box-shadow: 2px 2px 15px #141525;/*EFEITO DE SOMBRA*/

	border-bottom: 1px solid; /*Definido a linha na parte de baixo do header separando o menu dos outros conteúdos*/
}

/*Editando a semantica */


section#corpo{
	display: block; /*O documento so pode flutuar se for definido como um bloco*/
	width: 600px; 
	float: left; /*Foi definido para flutuar para o lado esquerto*/
	border-right:1px solid;
	padding-right: 15px;
	color: rgb(255, 255, 255);
	
}
section#corpo {
	font-family: 'Palette Mosaic', cursive; /*Fonte para os titulos*/
	font-family: 'Quicksand', sans-serif;
}

aside#lateral{
	font-family: 'Palette Mosaic', cursive; /*Fonte para os titulos*/
	font-family: 'Quicksand', sans-serif;
	display: block; 
	width: 280px;
	float: right; /*Foi definido para flutuar para o lado direito*/
	color: rgb(255, 255, 255);
}


section#corpo a{
	color: #ffff;
}


/*CRIAÇÃO DO RODAPE*/

footer#rodape{
	clear: both; /*Para poder limpar as configurações*/
	border-top: 1px solid ;
	color: white;
}

footer#rodape p{
	text-align: center;
	font-family: 'Indie Flower', cursive;
}

footer#rodape a{
	color: white;
}




/*Formatação menu principal*/
nav#menu h1{
	font-family: 'Indie Flower', cursive;
	text-shadow: 1px 1px 3px black;
}
nav#menu{
	display: block; /*Flutuar poder ser manipulado (um bloco pode flutuar pela tela)*/

	
}

nav#menu ul{
	list-style: none; /*Sumir marcadores*/
	text-transform: uppercase;/*Deixar as letras maiusculas*/
	position: absolute;
	top: -7px ;  /*Essa margem de -20px é para o menu ficar bem la em cima*/
	left: 350px;
	
}


nav#menu li{
	display: inline-block;
	background-color: #5c0df0;
	border-radius: 10px;/*Para deixar o botao do menu redondo*/
	padding: 7px; /*Serve para criar um espaço dentro do objeto*/
	margin: 2px; /*Serve para criar um espaço fora do objeto*/
	transition: background-color 0.5s; /*Tempo de transição*/
}

nav#menu a{
	text-decoration: none; /*Retirar o sublinhado do link*/
	color: black;
}

/*Usamos o :hover para efeitos de transição*/
nav#menu li:hover{ 
	background-color:#483D8B ;
}

nav#menu a:hover{
	color: aliceblue;
}

nav#menu h1{
	color:  rgb(0, 0, 0);
	transition: color 1s;
}
nav#menu h1:hover{
	color: #423d8b ;
}

#Ponto{
	padding: 15px 0px 0px 12px;
}


#link-topo{
	text-decoration: none;
	color: gray;
	padding: 6px;
	background-color: black;
	position: fixed;
	right: 10px;
	bottom: 10px;
	box-shadow: 3px 3px 10px black;
}